@font-face {
  font-family: 'Crete Round';
  font-style: normal;
  font-weight: 400;
  src: local('Crete Round'), local('CreteRound-Regular'), url(CreteRound.woff) format('woff');
}
@font-face {
  font-family: 'Crete Round';
  font-style: italic;
  font-weight: 400;
  src: local('Crete Round Italic'), local('CreteRound-Italic'), url(CreteRoundItalic.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(OpenSans300.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(OpenSans400.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(OpenSans600.woff) format('woff');
}
@font-face {
  font-family: 'Andika';
  font-style: normal;
  font-weight: 400;
  src: local('Andika'), url(Andika.woff) format('woff');
}

#titlearea, #headinfo, #bgimage {
   height: 120px;
}

#headinfo {
  float:left;
  white-space:nowrap;
  overflow:hidden;
}

#bgimage {
  background-image: url(header-bg_wide.png);
  background-position:-80px 0;
  background-repeat:no-repeat;
  background-size: auto 120px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

#titlearea table {
   top: 10px;
   margin-left: 20px;
   position: relative;
}

body, table, div, p, dl {
   font-family: "Open Sans",sans-serif;
   font-size: 16px;
}

.title, h1, h2, h3, h4, h5, h6 {
   font-family: "Crete Round",sans-serif;
}

.tabs, .tabs2, .tabs3, .navpath li.navelem a, div.toc li, div.toc h3, #projectname, #projectbrief, #nav-tree .label, table.directory {
   font-family: "Open Sans",sans-serif;
}

pre, code {
   font-family: "Lucida Console",'Monaco',monospace;
}

pre {
    padding: 1ex 2em;
    overflow: auto;
    border-top: 4px solid #6389D6;
    border-bottom: 4px solid #6389D6;
    background: none repeat scroll 0% 0% #f5f7fa;
    color: #303030;
    margin: 1.6em 0px;
}

code {
    border-top: 1px solid #6389D6;
    border-bottom: 1px solid #6389D6;
    background: none repeat scroll 0% 0% #f5f7fa;
    color: #303030;
    margin: 1.6em 0px;
}
table code {
    margin: 0;
}

.tabs3 {
    font-size: 11px;
}

.tabs2 {
    font-size: 12px;
}

.tablist li {
    line-height: 30px;
}

.tablist li, .tabs, .tabs2, .tabs3 {
    background-image: url("limes_tab_b.png");
}

.tablist a {
    background-image: url("limes_tab_s.png");
}

.ui-resizable-e {
    background: url("limes_nav_divider.png") repeat scroll right center transparent;
}

.navpath ul {
    background-image: url("limes_tab_b.png");
}

.memproto, dl.reflist dt {
   background: -moz-linear-gradient(top,  rgba(214,214,214,0.65) 0%, rgba(214,214,214,0.17) 11%, rgba(212,212,212,0) 15%, rgba(178,178,178,0) 100%); /* FF3.6+ */
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(214,214,214,0.65)), color-stop(11%,rgba(214,214,214,0.17)), color-stop(15%,rgba(212,212,212,0)), color-stop(100%,rgba(178,178,178,0))); /* Chrome,Safari4+ */
   background: -webkit-linear-gradient(top,  rgba(214,214,214,0.65) 0%,rgba(214,214,214,0.17) 11%,rgba(212,212,212,0) 15%,rgba(178,178,178,0) 100%); /* Chrome10+,Safari5.1+ */
   background: -o-linear-gradient(top,  rgba(214,214,214,0.65) 0%,rgba(214,214,214,0.17) 11%,rgba(212,212,212,0) 15%,rgba(178,178,178,0) 100%); /* Opera 11.10+ */
   background: -ms-linear-gradient(top,  rgba(214,214,214,0.65) 0%,rgba(214,214,214,0.17) 11%,rgba(212,212,212,0) 15%,rgba(178,178,178,0) 100%); /* IE10+ */
   background: linear-gradient(to bottom,  rgba(214,214,214,0.65) 0%,rgba(214,214,214,0.17) 11%,rgba(212,212,212,0) 15%,rgba(178,178,178,0) 100%); /* W3C */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6d6d6d6', endColorstr='#00b2b2b2',GradientType=0 ); /* IE6-9 */
}

div.summary {
    font-size: 9pt;
}